@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");


.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color);
}

#video-container iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  z-index: 10;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 25px;
  opacity: 0.7;
}

.btn:hover {
  transform: scale(0.98);
}

.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
